services:
  django-api:
    build: .
    container_name: semillitas-api
    ports:
      - '8000:8000'
    environment:
      NEON_DB_NAME: ${NEON_DB_NAME}
      NEON_DB_USER: ${NEON_DB_USER}
      NEON_DB_PASSWORD: ${NEON_DB_PASSWORD}
      NEON_DB_HOST: ${NEON_DB_HOST}
      NEON_DB_PORT: ${NEON_DB_PORT}
      SECRET_KEY: ${SECRET_KEY}
      SENDGRID_API_KEY: ${SENDGRID_API_KEY}
    env_file:
      - .env
    volumes:
      - ./project_semillitas:/app/project_semillitas
    develop:
      watch:
        - action: sync
          path: ./project_semillitas
          target: /app/project_semillitas
          ignore:
            - __pycache__/
            - '*.pyc'
            - '*.pyo'
            - db.sqlite3
        - action: rebuild
          path: ./requirements.txt
