services:
  django-api:
    build: .
    container_name: semillitas-api
    ports:
     - "8000:8000"
    environment:
      SUPABASE_DB_NAME: ${SUPABASE_DB_NAME}
      SUPABASE_DB_USER: ${SUPABASE_DB_USER}
      SUPABASE_DB_PASSWORD: ${SUPABASE_DB_PASSWORD}
      SUPABASE_DB_HOST: ${SUPABASE_DB_HOST}
      SUPABASE_DB_PORT: ${SUPABASE_DB_PORT}
      SECRET_KEY: ${SECRET_KEY}
      EMAIL_HOST_USER: ${EMAIL_HOST_USER}
      EMAIL_HOST_PASSWORD: ${EMAIL_HOST_PASSWORD}
    env_file:
     - .env